:root {
    --headerGreen: #5B8C5A;
    --linkColor: #EFDF6B;
    --bodyColor: #2E2532;
    --paragraphColor: #FEFFFE;
    --contentBackgroundColor: #4C3D52;
    --accordionColor: #A28497;
    --navBarColors: #AA8FA0;
  }

h1, h2, h3, h4, h5 {
    color: var(--headerGreen);
    margin-bottom: 10px;

}

h2 {
    padding-top: 0px !important;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

a {
    color: var(--linkColor);
}
body {
    background-color: var(--bodyColor);
    text-align: center;
    padding: 0;
    margin: 0;
}


code {
    text-shadow: none !important;
    
}

.variableName {
    color: white;
}

.operator {
    background-color: transparent !important;
}

pre {
    border-radius: 10px;
    background-color: var(--bodyColor) !important;
    padding-top: 2.2em;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}


/* Style for the copy button */
.copy-btn {
    position: sticky;
    float: right;
    top: 0px;
    right: 10px;
    padding: 3px 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
  }
  
@keyframes shake {
    0% {
    transform: translateX(0);
    }
    25% {
    transform: translateX(-2px);
    }
    50% {
    transform: translateX(2px);
    }
    75% {
    transform: translateX(-2px);
    }
    100% {
    transform: translateX(0);
    }
}
  
  /* Apply the shake effect on click */
  .copy-icon:active {

    animation: shake 0.3s ease; /* 0.3 seconds for the shake effect */
  }

.copy-icon {
    max-width: 20px;
    max-height: 20px;
}

pre, code {
    white-space: pre; /* Preserve whitespace and blank lines */
}

p {
    color: var(--paragraphColor);
    font-family: Georgia, 'Times New Roman', Times, san-serif;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

#mainDiv {
    background-color: var(--contentBackgroundColor);
    width: 60%;
    padding: 30px 45px;
    min-height: fit-content;
    border-radius: 10px;
    
}

.sideBox {
    text-align: center;
    min-height: fit-content;
    max-width: fit-content;
}

.first-word {
    color: var(--headerGreen);
    font-weight: bold;
    font-size: 20px;
}

.tab {
    padding-left: 2rem;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;

}


.accordion {
    width: 100%;
    display: block;
    margin: auto;
    background-color: var(--accordionColor);
    border: none;
    border-radius: 10px;
    height: 4em;
    color: var(--paragraphColor);
    font-size: 100%;
    padding: 5px;
    cursor: pointer; 
}

.accordion:hover {
    background-color: #2E2532;
}

.accordion-down-arrow {
    height: 1.25em;
    position: absolute;
    left: 90%;
    bottom: 50%;
    transform: translate(50%, 50%);
    
    
}

.accordion-container
{
    position: relative;
}

.panel {
    background-color: var(--accordionColor);
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    max-height: 0; /* Initially collapsed */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 0.3s ease-out; /* Smooth transition */
    display: none;
}

footer {
    padding-top: 30px;
    background-color: var(--navBarColors);
    margin: 0;
    text-align: center !important;
    border-top: var(--bodyColor) solid 2px;
    position: relative;
    box-shadow: 0 50vh 0 50vh var(--navBarColors);
}

img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bottomNavBar {
    position: sticky;
    bottom: 0px;
    background-color: transparent;
    height: 2.5em;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    margin-bottom: 0;
    z-index: 5;
}

.bottomNavBar button {
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    width: 25%;
    border: none;
    color: var(--paragraphColor);
    background-color: var(--accordionColor);
    
    
}

.bottomNavBar button:hover {
    border-top: var(--paragraphColor) solid 2px;
    
    
}

#nextButton:hover {
    border-left: var(--paragraphColor) solid 2px;
}

#backButton:hover {
    border-right: var(--paragraphColor) solid 2px;
}

#nextButton {
    float: right;
    text-align: right;
    padding-right: 15%;

    border-radius: 10px 0px 0px 0px;
}

#backButton {
    float: left;
    text-align: left;
    padding-left: 15%;
    border-radius: 0px 10px 0px 0px;
}


@media (max-width: 768px) {
    .sideBox {
        display: none;
    }

    #mainDiv {
        width: 100% !important;
    }
}